h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
    font-size: 40px;
}
p{
    background-color: springgreen;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}